/* 这是一个示例 CSS 文件 */

.vertical-text {
    writing-mode: vertical-rl; /* 设定直式排版 */
    text-orientation: mixed;  /* 文字方向调整 */
}

.box {
    background-color: transparent;
    color: #7F7F7F;
    padding: 10px;
    border-radius: 10px;
    height: 490px;
}
