/* 基本样式 */
body {
    font-family: Arial, sans-serif;
}

/* 直式排版样式 */
.vertical-text {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    h1-color:#08949c;
}

/* 自适应字体大小 */
@media (max-width: 600px) {
    h1 {
        font-size: 1.5rem; /* 适应手机屏幕的小字体 */
        color:#08949c
    }

    .box {
        font-size: 0.9rem; /* 适应手机屏幕的小字体 */
        height: auto; /* 适应内容的高度 */
        padding: 5px; /* 调整内边距 */
    }
}

@media (min-width: 601px) {
    h1 {
        font-size: 2rem; /* 较大的字体尺寸，适合较大的屏幕 */
        color:#08949c
    }

    .box {
        font-size: 1rem; /* 默认字体大小 */
        height: 490px; /* 固定高度 */
        padding: 10px; /* 默认内边距 */
    }
}
